{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula semper massa, eget vehicula elit laoreet sit amet. In lacinia, tortor in tincidunt consectetur, diam est gravida ipsum, rhoncus auctor magna erat in erat. Nam libero dui, maximus quis justo non, scelerisque blandit nisl. Curabitur imperdiet faucibus sapien, sit amet scelerisque ligula pretium vel. Vestibulum nec dictum sapien, ut euismod nibh. Praesent dapibus ullamcorper interdum. Duis nisi nibh, gravida et tellus in, fringilla ornare neque. Etiam commodo felis ex, ac aliquam felis volutpat condimentum. Maecenas id libero ac enim bibendum blandit. Sed lacinia tellus sit amet sem aliquet tincidunt ac quis diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent aliquam mi non gravida vehicula. Integer ligula nulla, sagittis sit amet erat a, porta imperdiet odio.
                    <br><br>
                    Sed consequat finibus aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque malesuada ipsum eget urna tincidunt, ac venenatis nulla volutpat. Donec volutpat nunc nec pulvinar commodo. Nullam justo velit, rhoncus accumsan magna non, luctus vestibulum turpis. Pellentesque tristique auctor tempor. Nullam dui quam, varius quis dui et, ultrices fermentum turpis.
                    <br><br>
                    Maecenas id metus ac lectus aliquet suscipit. Cras dui orci, iaculis id diam eget, laoreet bibendum dui. Duis et elit congue, dapibus dolor sit amet, faucibus diam. Pellentesque hendrerit eu sem sit amet porttitor. Nunc porttitor id lectus vitae pretium. Duis a fermentum lacus. Morbi maximus maximus neque. Quisque ex dolor, aliquet nec laoreet eu, iaculis at eros. Aliquam et semper felis. Donec ac nisl a leo euismod accumsan eu id metus. Sed convallis vel augue a blandit. Quisque felis ex, aliquet non finibus sed, tincidunt in mi. Etiam ornare gravida ipsum et porta. Ut suscipit scelerisque nulla, eget rhoncus orci dictum ut. Etiam egestas commodo neque ut tristique.
                </p>
            </div>
        </center>
    </div>

</div>
<br><br>
                <br><br>
                <br><br><br><br>
{% endblock %}