{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
        <h3>Unshipped Items</h3>
        
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Price</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Shipped</th>
              </tr>
            </thead>
            {% for order in orders%}
            <tbody>
              <tr>
                <td><a href="{% url 'orders' order.id %}">{{order.id}}</a></td>
                <td>{{order.amount_paid}}</td>
                <td>{{order.email}}</td>
                <td>{{order.date_ordered}}</td>
                <td>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shipping_status" value="true">
                    <input type="hidden" name="num" value={{item.id}}>
                    <button type="submit" class="btn btn-success">Mark As Shipped</button>
                  </form>
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
            </div>
        </center>
    </div>

</div>
<br><br>
                <br><br>
                <br><br><br><br>
{% endblock %}