{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
        <h3>Shipped Items</h3>
        
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Price</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Date Ordered</th>
              </tr>
            </thead>
            {% for order in orders%}
            <tbody>
              <tr>
                <td>{{order.id}}</td>
                <td>{{order.amount_paid}}</td>
                <td>{{order.email}}</td>
                <td>{{order.date_ordered}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
            </div>
        </center>
    </div>

</div>
<br><br>
                <br><br>
                <br><br><br><br>
{% endblock %}